@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

.grid-container {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-image: url(../img/sky-690293_1920.jpg);
    .title-row {
        .title-col {
            margin-top:20px;
            display: flex;
            justify-content: center;
            color: #eeeeee;
        }
    }

    .temperature-data__row {
        
        .temperature-data__col{
            
            display: flex;
            justify-content: center;
            
            p {
                color: #0c3043;
                font-size: 22px;
            }
            .temperature-info {
                margin-top:20px;
                color: #0c3043;
                display: flex;
                flex-direction: column;
                
                align-items: center;
                text-align: center;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 220px;
                    height: 220px;;
                    background-color: rgba(0,0,0, 0.2);
                    top: -5px;
                    border-radius: 5px;
                }

                h4 {
                    display: inline-block;
                    width: 190px;
                    font-weight: 800;
                }

                p {
                    margin-top: 20px;
                    color: #0c3043;
                }

                span {
                    padding:5px;
                }

                &:nth-of-type(3), &:nth-of-type(4) {
                    color: #0c3043;
                }
                
            }
        }
    }
    .form-row {
        .form-col {
            display: flex;
            justify-content: center;
            label {
                color: #eeeeee;
                display: flex;
                flex-direction: column;
                text-align: center;
                font-weight: 600;
            }
            input {
                display: block;
                margin: 5px;
                border: 1px solid grey;
                background-color: grey;
                height: 30px;
                padding-left: 5px;
                color: #eeeeee;
                border-radius: 5px;
            }
            .btn {
                background-color: grey;
                width:80px;
                height: 30px;
                margin-left:35px;
                padding:0;
                color:#eeeeee;
                font-size: 14px;
                border-radius: 5px;
                
            }
        }
    }
}